header {
    position: fixed;
    flex: 0 0 auto;
    z-index: 99999;
    width: 100%;
}

.header--sticky {
    background-color: rgba(31, 34, 40, 0.8);
}

.scroll-disable {
    overflow: hidden;
}

//Фикс бага со скачком шапки при открытии fancybox
body.compensate-for-scrollbar {
    overflow: auto !important;
}

.compensate-for-scrollbar {
    margin-right: 0 !important;
}

.fancybox-container {
    z-index: 99999;
}

//Скрытие стандартной кнопки закрытия fancybox
.fancybox-slide--html .fancybox-close-small {
    display: none;
}

//Анимация при переходе на другую страницу
.transition-pages__before {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .7s;
}

.transition-pages__before-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: $black;
    border: 1px solid $black;
    transition: .7s;
}


.transition-pages__before-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: $red;
    border: 1px solid $red;
    transition: .7s;
}

//Анимация после перехода на новую страницу
.transition-pages__after {
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: rotate(90deg) scale(5);
    transition: 1.4s;
}

.transition-pages__after-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background: $black;
    border: 1px solid $black;
    transition: 1.4s;
}


.transition-pages__after-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: $red;
    border: 1px solid $red;
    transition: 1.4s;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;
}

.header-wrapper__left {
    width: 50%;
}

.header-contact__list {
    display: flex;
    align-items: center;
}

a.header-contact__item {
    display: flex;
    align-items: center;
    margin-right: 45px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: .3s;

    &:hover {
        color: $red;

        .header-contact__item-icon svg path {
            fill: $red;
        }

    }

}

.header-contact__item-icon svg {
    width: 24px;
    height: auto;
    transition: .3s;

    path {
        transition: .3s;
    }

}

p.header-contact__item-text {
    padding-left: 15px;
}


.header-wrapper__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.header-social__list {
    display: flex;
    align-items: center;
}

li.header-social__item {
    margin-right: 40px;

    a {
        position: relative;
        display: block;
        color: #fff;
        font-weight: 500;
        text-decoration: none;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0;
            background-color: #fff;
            transition: .3s ease-in-out;
        }

        &:hover::after {
            width: 100%;
        }

    }

}

.menu-burger {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;

    &:hover .menu-burger__line {
        width: 100%;
    }

}

.menu-burger__line {
    width: 100%;
    height: 3px;
    background: #fff;
    margin-bottom: 12px;
    transition: .3s;
}

.menu-burger__line:nth-child(2) {
    width: 75%;
}

.menu-burger__line:nth-child(3) {
    width: 50%;
    margin-bottom: 0;
}

.menu-burger--active {
    height: 50px;
    z-index: 9;

    .menu-burger__line {
        transform: rotate(-45deg) translate(-18px, 17px);
    }

    .menu-burger__line:nth-child(2) {
        opacity: 0;
    }

    .menu-burger__line:nth-child(3) {
        width: 100%;
        transform: rotate(45deg) translate(-3px, -3px);
    }
}

.menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $black;
    padding: 20vh 0;

    .container {
        height: 100%;
    }
}

.menu-bg__top {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    background: $red;
}

.menu-bg__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    background: $black;
}

nav.nav-menu {
    position: relative;
    height: 100%;

    &::after {
        content: '';
        position: absolute;
        right: 35%;
        bottom: -5%;
        background: url(../images/general/shape-ball.png) no-repeat;
        background-size: 100%;
        width: 95px;
        height: 95px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 10%;
        right: 5%;
        background: url(../images/general/shape-ball.png) no-repeat;
        background-size: 100%;
        width: 180px;
        height: 180px;
    }
}

ul.nav-menu__list {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::after {
        content: '';
        position: absolute;
        left: 45%;
        top: -15%;
        background: url(../images/general/shape-ball.png) no-repeat;
        background-size: 100%;
        width: 55px;
        height: 55px;
    }
}


a.nav-menu__item-link {
    font-weight: 900;
    font-size: 96px;
    line-height: 125%;
    letter-spacing: 0.08em;
    color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    transition: .3s;

    &:hover {
        color: #fff;
    }
}