section.about-hero 
    .container 
        .about-hero__wrapper 
            .about-hero__wrapper-left
                h1.about-hero__title Никита соколов
                p.about-hero__subtitle Более 3 лет опыта работы в web - разработке проектов любой сложности
                p.about-hero__info Создание сайтов для заказчиков из любой страны мира, сайты-визитки, корпоративные сайты, сервисы, интернет магазины, лендинги, промо сайты
            .about-hero__wrapper-right
                img(src="/assets/images/general/me.jpg", alt="Никита Соколов")
section.shift-text 
    .shift-wrapper 
        .shift-text__top(data-enllax-ratio="-.2" data-enllax-type="foreground" data-enllax-direction="horizontal")
            p Front-end <span>разработка</span> Front-end <span>разработка</span> Front-end <span>разработка</span> Front-end <span>разработка</span> Front-end <span>разработка</span> Front-end <span>разработка</span> Front-end <span>разработка</span> Front-end <span>разработка</span>
        .shift-text__bottom(data-enllax-ratio=".2" data-enllax-type="foreground" data-enllax-direction="horizontal")
            p Front-end <span>разработка</span> Front-end <span>разработка</span> Front-end <span>разработка</span> Front-end <span>разработка</span> Front-end <span>разработка</span> Front-end <span>разработка</span> Front-end <span>разработка</span> Front-end <span>разработка</span>
section.about-general
    .container 
        .about-general__wrapper
            .about-general__info
                p(data-aos="fade-in" data-aos-duration="500") Занимаюсь версткой сайтов. Использую наилучшие доступные технологии верстки, такие как HTML5, CSS3, JavaScript, SmartGrid, BOOTSTRAP, LESS, SASS, GULP... . А также предоставляю некоторые дополнительные услуги по веб разработке.
            .about-general__bg 
                .about-general__bg-center 
                    img(src="/assets/images/general/shape-ball.png")
                .about-general__bg-border 
                    img(src="/assets/images/general/skills.png", alt="")
section.skills 
    .container 
        .skills-row 
            .skills-col(data-aos="fade-in" data-aos-duration="500")
                h2.skills-col__title HTML5<br>CSS3
                ul.skills-col__list
                    li Валидный, кроссбраузерный код
                    li Семантичная верстка
                    li Структурированный код
                    li PixelPerfect
                    li Методология БЭМ
            .skills-col(data-aos="fade-in" data-aos-duration="500")
                h2.skills-col__title Javascript<br>JQuery
                ul.skills-col__list
                    li Нативный javascript
                    li Настроенные JQuery плагины
                    li Комментируемый код
            .skills-col(data-aos="fade-in" data-aos-duration="500")
                h2.skills-col__title Smart-grid<br>Bootstrap
                ul.skills-col__list
                    li Высокая скорость разработки сайта
                    li Кроссбраузерность и адаптивность сайта
                    li Готовые шаблоны элементов сайта
                    li Оптимизированная навигация

section.back-end
    .container 
        h2.section-title(data-aos="fade-in" data-aos-duration="500") Back-end Скиллы
        .back-end__wrapper
            .back-end__wrapper-left(data-aos="fade-in" data-aos-duration="500")
                img(class="parallax" data-z="5" data-y="1" src="/assets/images/general/back-end.png", alt="Back-end Скиллы")
            .back-end__wrapper-right(data-aos="fade-in" data-aos-duration="500")
                .back-end__info 
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.

section.experience
    .container 
        h2.section-title(data-aos="fade-in" data-aos-duration="500") Опыт работы
        .experience-list 
            .experience-item(data-aos="fade-in" data-aos-duration="500")
                .experience-item__top
                    h3.experience-item__title AlliedM
                    a.experience-item__link(href="#")
                        svg(viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M23.5017 0H19.0017C18.7255 0 18.5017 0.223858 18.5017 0.5C18.5017 0.776142 18.7255 1 19.0017 1L22.2946 1L10.6889 12.6057L11.396 13.3128L23.0017 1.70711V5C23.0017 5.27614 23.2255 5.5 23.5017 5.5C23.7778 5.5 24.0017 5.27614 24.0017 5V0.5C24.0017 0.223858 23.7778 0 23.5017 0ZM1 3.45844C1 2.63002 1.67157 1.95844 2.5 1.95844H14.8281C15.1043 1.95844 15.3281 1.73459 15.3281 1.45844C15.3281 1.1823 15.1043 0.958443 14.8281 0.958443H2.5C1.11929 0.958443 0 2.07773 0 3.45844V21.5017C0 22.8824 1.11929 24.0017 2.5 24.0017H20.5433C21.924 24.0017 23.0433 22.8824 23.0433 21.5017V9.17358C23.0433 8.89744 22.8194 8.67358 22.5433 8.67358C22.2671 8.67358 22.0433 8.89744 22.0433 9.17358V21.5017C22.0433 22.3301 21.3717 23.0017 20.5433 23.0017H2.5C1.67157 23.0017 1 22.3301 1 21.5017V3.45844Z' fill='#FF0B53')
                .experience-item__row 
                    .experience-item__col
                        h3.experience-item__col-title Должность:
                        p.experience-item__col-info Back-end разработчик
                    .experience-item__col
                        h3.experience-item__col-title Период:
                        p.experience-item__col-info 01.08.2018 - 01.04.2019
                    .experience-item__col
                        h3.experience-item__col-title Обязанности:
                        p.experience-item__col-info Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
            .experience-item(data-aos="fade-in" data-aos-duration="500")
                .experience-item__top
                    h3.experience-item__title Malevich
                    a.experience-item__link(href="#")
                        svg(viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M23.5017 0H19.0017C18.7255 0 18.5017 0.223858 18.5017 0.5C18.5017 0.776142 18.7255 1 19.0017 1L22.2946 1L10.6889 12.6057L11.396 13.3128L23.0017 1.70711V5C23.0017 5.27614 23.2255 5.5 23.5017 5.5C23.7778 5.5 24.0017 5.27614 24.0017 5V0.5C24.0017 0.223858 23.7778 0 23.5017 0ZM1 3.45844C1 2.63002 1.67157 1.95844 2.5 1.95844H14.8281C15.1043 1.95844 15.3281 1.73459 15.3281 1.45844C15.3281 1.1823 15.1043 0.958443 14.8281 0.958443H2.5C1.11929 0.958443 0 2.07773 0 3.45844V21.5017C0 22.8824 1.11929 24.0017 2.5 24.0017H20.5433C21.924 24.0017 23.0433 22.8824 23.0433 21.5017V9.17358C23.0433 8.89744 22.8194 8.67358 22.5433 8.67358C22.2671 8.67358 22.0433 8.89744 22.0433 9.17358V21.5017C22.0433 22.3301 21.3717 23.0017 20.5433 23.0017H2.5C1.67157 23.0017 1 22.3301 1 21.5017V3.45844Z' fill='#FF0B53')
                .experience-item__row 
                    .experience-item__col
                        h3.experience-item__col-title Должность:
                        p.experience-item__col-info Full-stack разработчик
                    .experience-item__col
                        h3.experience-item__col-title Период:
                        p.experience-item__col-info 01.08.2019 - 01.12.2019
                    .experience-item__col
                        h3.experience-item__col-title Обязанности:
                        p.experience-item__col-info Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
            .experience-item(data-aos="fade-in" data-aos-duration="500")
                .experience-item__top
                    h3.experience-item__title Фриланс
                .experience-item__row 
                    .experience-item__col
                        h3.experience-item__col-title Направление развития:
                        p.experience-item__col-info Front-end разработка
                    .experience-item__col
                        h3.experience-item__col-title Период:
                        p.experience-item__col-info 01.01.2020 - 10.06.2021
                    .experience-item__col
                        h3.experience-item__col-title Обязанности:
                        p.experience-item__col-info Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"