section.portfolio
    .container
        .project-list 
            .project-item
                a(href="#") 
                    h2.project-item__title Название проекта
                p.project-item__descr Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                .project-item__img
                    img(src="/assets/images/general/project-item.png", alt="Название проекта")
            .project-item
                a(href="#") 
                    h2.project-item__title Название проекта c длинным заголовком
                p.project-item__descr Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                .project-item__img 
                    img(src="/assets/images/general/project-item.png", alt="Название проекта")
            .project-item
                a(href="#") 
                    h2.project-item__title Название проекта с довольно длинным заголовком
                p.project-item__descr Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                .project-item__img 
                    img(src="/assets/images/general/project-item.png", alt="Название проекта")
            .project-item
                a(href="#") 
                    h2.project-item__title Название проекта с  длинным заголовком
                p.project-item__descr Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                .project-item__img 
                    img(src="/assets/images/general/project-item.png", alt="Название проекта")
            .project-item
                a(href="#") 
                    h2.project-item__title Название проекта
                p.project-item__descr Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                .project-item__img 
                    img(src="/assets/images/general/project-item.png", alt="Название проекта")
            .project-item
                a(href="@") 
                    h2.project-item__title Название проекта с довольно длинным заголовком
                p.project-item__descr Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                .project-item__img 
                    img(src="/assets/images/general/project-item.png", alt="Название проекта")
.portfolio-scroll 
    .container
        img(src="/assets/images/general/scroll-icon.svg")