.btn-wrapper {
    width: 100%;
}

.btn {
    display: block;
    width: 250px;
    text-align: center;
    padding: 12px 0;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.btn:hover {
    color: $black;
    background: #fff;
}

input[disabled], button[disabled] {
    background: #ccc !important;
    border: 1px solid #ccc !important;
    cursor: not-allowed !important;
}