.btn-wrapper {
    width: 100%;
}

.btn {
    display: block;
    border: 1px solid #fff;
    padding: 12px 0;
    width: 250px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.btn:hover {
    color: $black;
    background: #fff;
}

input[disabled],
button[disabled] {
    border: 1px solid #ccc !important;
    background: #ccc !important;
    cursor: not-allowed !important;
}

@media screen and (max-width: 576px) {
    .btn {
        padding: 14px 0;
        width: 200px;
        font-size: 0.8rem;
    }
}