// Colors
$white: #F2F2F2; //Белый
$black: #0E0900; //Черный
$brown: #D8A865; //Коричневый
$light_brown: #D9AC84;//светло-коричневый
$beige:#FFF4E8; //Бежевый



// Sizes
$base-font-size: 16px;

$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

$content-size: 1024px;

// Fonts