@import "modules/utils/libs";
@import "modules/utils/vars";
@import "modules/utils/mixins";

html {
    overflow-y: overlay;
    height: 100%;
    font-size: $base-font-size;
    color: $white;
    background-color: $black;

    &::-webkit-scrollbar-track {
        border-radius: 0;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background: rgba(255, 11, 83, 0.2);
    }

    &:hover::-webkit-scrollbar-thumb {
        background: rgba(255, 11, 83, 0.2);
    }
}

body {
    height: 100%;
    font-family: "Montserrat";
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font-style: inherit;
}

section {
    position: relative;
    overflow-x: hidden;
}

section.page-content {
    overflow-x: visible;
}

input,
select,
button {
    outline: none;
}

div {
    outline: 0 none !important;
}

// Fonts
@import "modules/fonts/fonts";

// Grid (Container)
@import "modules/grid/grid";

// Header
@import "modules/header/header";

// Buttons
@import "modules/buttons/buttons";

// Titles & Text
@import "modules/texts/texts";

// Animations
@import "modules/animations/animations";

// Shift text
@import "pages/common/shift-text"; 

// Main
@import "pages/index/hero";

// Portfolio
@import "pages/portfolio/portfolio";
@import "pages/portfolio/portfolio-detail";

// About
@import "pages/about/about";

// 404
@import "pages/not-found/not-found";

// Footer
@import "modules/footer/footer";

// Popups
@import "modules/popups/popups";